<h1 class="users--title"> <%= current_user.username  %> Messages </h1>

<% if @messages != [] %>
  <% @messages.each do |message| %>
    <div class="message--card card">
      <div class="card-body">
        <h5 class="card-title">to <%= current_user.username %></h5>
        <% if !message.read %>
          <badge class="badge badge-info message--unread"> </badge>
        <% end %>
        <h6 class="card-subtitle mb-2 text-muted">from <a href="users/<%= message.message_sender.id %>"><%= message.message_sender.username %></a>
          <% if current_user.following?(message.message_sender) %>
            <badge class="message--badge badge badge-success"> Following </badge>
          <% end %>
        </h6>
        <p class="card-text"> <%= message.message %></p>
        <div class="message--options">
          <a href="users/<%= message.message_sender.id %>/message" class="card-link"><i class="fas fa-reply"></i> Reply</a>
          <% if !message.read %>
            <a href="messages/<%= message.id %>/mark_read" class="card-link"><i class="fas fa-book-reader"></i> Mark as read</a>
          <% end %>
          <a href="messages/<%= message.id %>/destroy" class="card-link"><i class="far fa-trash-alt"></i> Delete</a>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <br>
  <div class="empty-group">
    <img class="empty-group--image" src="/images/envelope.png" />
    <p class="empty-group--text"> You don't have any messages right now.</p>
  </div>
<% end %>
