<h1 class="heading"> <%= current_user.username %>'s new project </h1>

<%= form_for @work, url: {action: "create"}, html: {class: "form"} do |f| %>
  <% if @work.errors.full_messages.any? %>
    <div class="alert alert-danger">
      <%= @work.errors.full_messages.first %>
      <a href="#" class="close" data-dismiss="alert">&#215;</a>
    </div>
  <% end %>
  <div class="input-group">
    <textarea name="work[prompt]" type="text" id="prompt_input" rows='3' class="form-control form--text-field" placeholder="Add a Description or Writing Prompt (Optional)" aria-describedby="button-addon4"></textarea>
    <div class="input-group " id="button-addon4">
      <button id="fiction_generate" class="btn btn-outline-secondary form--text-field form--group-button" type="button"><i class="fas fa-magic"></i></button>
      <button type="button" data-toggle="modal" data-target="#prompt_modal" class="form--invisible-button"> <img src="/images/questionmark.png" id="prompt_question" class="form--text-field form--question-image"> <span class="form--text faded-text"><i>What is this button?</i> </span> </button>
    </div>
  </div>
  <div class="form-group form-check">
    <input name="work[show_prompt]" type="checkbox" class="form-check-input" id="prompt_show">
    <label class="form-check-label" for="exampleCheck1">Display the above description to viewers?</label>
  </div>
  <%= f.text_field :title, class: "form-control form--text-field", placeholder: "Title your work.", maxlength: 20 %>
  <%= f.text_field :genre, class: "form-control form--text-field", placeholder: "A rough genre. Sci-fi? Comedy? Free-write?", maxlength: 20 %>
  <%= f.submit "Create", class: "btn btn-lg btn-success button" %>
<% end %>

<%= render :partial => 'works/modal' %>

