
<div class="locater">
  <ul class="locater--list list-group list-group-horizontal">
    <a class="locater--link" href="/home/active">
      <li class="locater--heading list-group-item <%= 'active' if @active %>">Active</li>
    </a>
    <a class="locater--link" href="/home/popular">
      <li class="locater--heading list-group-item <%= 'active' if @popular %>">Popular</li>
    </a>
    <a class="locater--link" href="/home/bookmark">
      <li class="locater--heading list-group-item <%= 'active' if @bookmarked_works %>">Bookmarks</li>
    </a>
    <a class="locater--link" href="/home/search">
      <li class="locater--heading list-group-item <%= 'active' if @search  %>">Search by Genre</li>
    </a>
  </ul>
</div>


<% if @active  %>
  <% @active.each do |work|  %>
    <%= render :partial => 'home/work', :locals => {work: work} %>
  <% end %>
<% end %>
<% if @active == [] %>
  <%= render :partial => 'home/empty', :locals => {type: "active"} %>
<% end %>


<% if @popular  %>
  <% @popular.each do |work|  %>
    <%= render :partial => 'home/work', :locals => {work: work} %>
  <% end %>
<% end %>
<% if @popular == [] %>
  <%= render :partial => 'home/empty', :locals => {type: "popular"} %>
<% end %>

<% if @bookmarked_works  %>
  <% @bookmarked_works.each do |work|  %>
    <%= render :partial => 'home/work', :locals => {work: work} %>
  <% end  %>
  <% if @bookmarked_works == [] %>
    <%= render :partial => 'home/empty', :locals => {type: "bookmark"} %>
  <% end %>
<% end %>

<% if @search  %>
  <%= render :partial => 'home/search', :locals => {search: @search} %>
  <% if @results %>
    <% @results.each do |work|  %>
      <%= render :partial => 'home/work', :locals => {work: work} %>
    <% end  %>
  <% end %>
<% end %>
