<h5>start a <a href="/works/new">new project</a>, continue a <a href="/works">project</a>, or find something fun to read below</h5>
<div class="locater">
  <ul class="locater--list list-group list-group-horizontal">
    <a class="locater--link" href="/home/active">
      <li class="locater--heading list-group-item <%= 'active' if @active %>">Active</li>
    </a>
    <a class="locater--link" href="/home/popular">
      <li class="locater--heading list-group-item <%= 'active' if @popular %>">Popular</li>
    </a>
    <a class="locater--link" href="/home/bookmark">
      <li class="locater--heading list-group-item <%= 'active' if @bookmarked_works %>">Bookmarks</li>
    </a>
    <a class="locater--link" href="/home/search">
      <li class="locater--heading list-group-item <%= 'active' if @genre_search  %>">Genre</li>
    </a>
    <a class="locater--link" href="/home/user">
      <li class="locater--heading list-group-item <%= 'active' if @user_search  %>">Username</li>
    </a>
  </ul>
</div>


<% if @active  %>
  <% @active.each do |work|  %>
    <%= render :partial => 'home/work', :locals => {work: work} %>
  <% end %>
<% end %>
<% if @active == [] %>
  <%= render :partial => 'home/empty', :locals => {type: "active"} %>
<% end %>


<% if @popular  %>
  <% @popular.each do |work|  %>
    <%= render :partial => 'home/work', :locals => {work: work} %>
  <% end %>
<% end %>
<% if @popular == [] %>
  <%= render :partial => 'home/empty', :locals => {type: "popular"} %>
<% end %>

<% if @bookmarked_works  %>
  <% @bookmarked_works.each do |work|  %>
    <%= render :partial => 'home/work', :locals => {work: work} %>
  <% end  %>
  <% if @bookmarked_works == [] %>
    <%= render :partial => 'home/empty', :locals => {type: "bookmark"} %>
  <% end %>
<% end %>

<% if @genre_search  %>
  <%= render :partial => 'home/search', :locals => {search: @genre_search} %>
  <% if @results %>
    <% @results.each do |work|  %>
      <%= render :partial => 'home/work', :locals => {work: work} %>
    <% end  %>
  <% end %>
<% end %>

<% if @user_search  %>
  <%= render :partial => 'home/search', :locals => {search: @user_search} %>
  <% if @users %>
    <% @users.each do |user|  %>
      <%= render :partial => 'home/user', :locals => {user: user} %>
    <% end  %>
  <% end %>
<% end %>
