<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="/"><img class="nav--logo" src="/images/logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/<%= current_user.id %>">
          <%= current_user.username  %>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <%= link_to('Logout', destroy_user_session_path, :method => 'delete', :class => "dropdown-item") %>
    </ul>
  </div>
  <% if @work != nil  %>
    <span class="nav--title navbar-brand"> <%= @work.title %> by <a href="/users/<%= @work.user.id %>"> <%= @work.user.username %> </a>
      <% if @work.user.id != current_user.id %>
        <span id="bookmark_work" class="nav--star">
          <img id="bookmark_img" title='Bookmark this work' src="/images/<% if !@work.is_bookmarked_by(user.id)  %>un<% end %>filled_star.png" width='24' />
        </span>
        <span id="clap_work" class="nav--clap">
          <img id="clap_img" title='Applaud this work' data-id=<%= current_user.clap_colour %> src="/images/clap-<%= current_user.clap_colour %>.png" width='28' />
        </span>
      <span class="nav--scroll" title='Follow newly entered text'>
        <i class="fas fa-map-pin"></i>
        <input type="checkbox" class="form-check-input nav--pin" id="scrollCheck" checked>
      </span>
      <% end %>
      <span class="nav--viewcount" title='Current view-count'><img class="nav--viewcount image" src="/images/eye.png" height="20" /> <span id="navbar--viewcount">0</span> </span>
    </span>
  <% end  %>
</nav>
