<!DOCTYPE html>
<html>
  <head>
    <title>WriteRoom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <div class="row">
    <% flash.each do |type, msg| %>
      <% if type == "notice" %>
        <div class="alert alert--flash alert-success">
        <% elsif type == "alert" %>
          <div class="alert alert--flash alert-danger">
          <% else %>
            <div class='alert alert--flash alert-<%= "#{type}" %>'>
            <% end %>
            <a href="#" class="close" data-dismiss="alert">&#215;</a>
            <p class="alert--para">
            <%= msg %>
            </p>
          <% end %>
            </div>
          </div>
          <body>
            <% if user_signed_in?  %>
              <%= render :partial => 'layouts/navigation', :locals => {user: current_user} %>
            <% end  %>

            <div class="container">
              <%= yield %>
            </div>
          </body>
</html>
